* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif; }

body, html {
  width: 100%;
  height: 100%; }

.logo {
  position: fixed;
  top: 20px;
  left: 20px;
  display: none; }
  .logo h1 {
    width: 200px;
    padding: 10px 0;
    text-align: center;
    color: white; }

#mission {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap; }
  #mission .left-side {
    width: 50%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    #mission .left-side h2 {
      font-weight: bold;
      padding: 0 20px 20px;
      text-transform: uppercase;
      width: 600px;
      margin: 0 auto 0; }
    #mission .left-side p {
      width: 600px;
      font-size: 20px;
      padding: 5px 20px;
      font-weight: 300;
      margin: auto;
      color: #4d4d4d;
      text-align: justify; }
  #mission .right-side {
    width: 50%;
    min-height: 100%; }
    #mission .right-side .icon {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      #mission .right-side .icon img {
        width: 600px;
        display: block;
        margin-top: 50px; }
  #mission .mission_button {
    width: 100%; }
    #mission .mission_button button {
      display: block;
      margin: auto;
      background: initial;
      color: #4d4d4d;
      border: none;
      outline: none;
      cursor: pointer;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: bold;
      padding: 10px 15px;
      border: 2px solid #4d4d4d; }

.programs {
  min-height: 100%; }
  .programs h1 {
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0 40px; }
  .programs .programs_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .programs .programs_container .programs_position {
    width: 300px;
    height: 500px;
    border: 1px solid #107e10;
    position: relative;
    margin: 0 30px; }
    .programs .programs_container .programs_position p {
      padding: 0 20px;
      text-align: center; }
    .programs .programs_container .programs_position button {
      font-size: 20px;
      text-transform: uppercase;
      color: #107e10;
      border: none;
      border: 2px solid #107e10;
      outline: none;
      position: absolute;
      bottom: 20px;
      left: 0;
      right: 0;
      margin: auto;
      display: block;
      width: 250px;
      height: 50px;
      font-weight: bold;
      background-color: inherit;
      cursor: pointer; }
  .programs .programs_more {
    font-size: 20px;
    text-transform: uppercase;
    color: #107e10;
    border: none;
    outline: none;
    margin: 30px auto 0;
    display: block;
    width: 200px;
    padding: 10px 0;
    font-weight: bold;
    background-color: inherit;
    cursor: pointer; }
    .programs .programs_more::after {
      display: block;
      margin: auto;
      content: '';
      width: 0;
      border-bottom: 2px solid #107e10;
      margin-top: 10px;
      transition: .2s linear width; }
    .programs .programs_more:hover::after {
      width: 150px; }

.continued {
  min-height: 100%;
  display: flex; }
  .continued .continued_left {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column; }
    .continued .continued_left p {
      width: 80%;
      padding: 10px 0;
      font-size: 18px;
      text-align: justify; }
  .continued .continued_right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    .continued .continued_right .row {
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center; }
    .continued .continued_right .icon {
      width: 200px;
      height: 200px;
      text-align: center; }
    .continued .continued_right .icon i {
      font-size: 60px; }

@media screen and (max-width: 1200px) {
  #mission {
    justify-content: center;
    flex-wrap: wrap-reverse; }
    #mission .left-side {
      order: 2; }
      #mission .left-side h2 {
        padding: 20px 0;
        text-align: center; }
    #mission .right-side {
      order: 1;
      margin-bottom: 20px; }
    #mission .mission-button {
      order: 3; } }
@media screen and (min-width: 801px) and (max-width: 1200px) {
  #mission .left-side, #mission .right-side {
    width: 800px; }
  #mission .left-side p {
    width: 100%; }
  #mission .right-side .icon img {
    width: 800px; } }
@media screen and (min-width: 601px) and (max-width: 800px) {
  #mission .left-side, #mission .right-side {
    width: 600px; }
  #mission .left-side p {
    width: 600px; }
  #mission .right-side .icon img {
    width: 600px; } }
@media screen and (max-width: 600px) {
  #mission .left-side, #mission .right-side {
    width: 100%; }
  #mission .left-side .content {
    width: 100%; }
    #mission .left-side .content p, #mission .left-side .content h2 {
      width: 100%; }
  #mission .right-side .icon img {
    width: 100%; } }
@media screen and (max-width: 1080px) {
  .programs .programs_container .programs_position {
    margin-bottom: 20px; }

  .programs .programs_container .programs_position:last-child {
    margin-bottom: 0; } }
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .continued {
    flex-direction: column-reverse;
    align-items: center;
    min-height: 80%; }
    .continued .continued_left {
      width: 100%; }
    .continued .continued_right {
      width: 400px;
      flex-wrap: nowrap; }
      .continued .continued_right .row, .continued .continued_right .icon {
        height: unset;
        width: unset; }
      .continued .continued_right .icon {
        margin: 0 20px; } }
@media screen and (max-width: 600px) {
  .continued {
    flex-direction: column-reverse; }
    .continued .continued_left, .continued .continued_right {
      width: 100%; }
    .continued .continued_right {
      flex-wrap: nowrap;
      flex-direction: column; }
      .continued .continued_right .row {
        width: unset;
        height: unset; }
      .continued .continued_right .icon {
        height: unset;
        width: 100px;
        margin: 20px; }
        .continued .continued_right .icon i {
          font-size: 80px; } }
