//Mission

@media screen and (max-width: 1200px){
    #mission{
        justify-content: center;
        flex-wrap: wrap-reverse;

        .left-side{
            order: 2;

            h2{
                padding: 20px 0;
                text-align: center;
            }
        }

        .right-side{
            order: 1;
            margin-bottom: 20px;
        }

        .mission-button{
            order: 3;
        }
    }
}

@media screen and (min-width: 801px) and (max-width: 1200px){
    #mission{
        .left-side, .right-side{
            width: 800px;
        }

        .left-side p{
            width: 100%;
        }

        .right-side .icon img{
            width: 800px;
        }
    }
}

@media screen and (min-width: 601px) and (max-width: 800px){
    #mission{
        .left-side, .right-side{
            width: 600px;
        }

        .left-side p{
            width: 600px;
        }

        .right-side .icon img{
            width: 600px;
        }
    }
}

@media screen and (max-width: 600px){
    #mission{
        .left-side, .right-side{
            width: 100%;
        }
    
        .left-side .content{
            width: 100%;

            p,h2{
                width: 100%;
            }
        }
    
        .right-side .icon img{
            width: 100%;
        }
    }
}

//Program

@media screen and (max-width: 1080px){
    .programs .programs_container .programs_position{
        margin-bottom: 20px;
    }

    .programs .programs_container .programs_position:last-child{
        margin-bottom: 0;
    }
}

//Continued

@media screen and (min-width: 601px) and (max-width: 1024px){
    .continued{
        flex-direction: column-reverse;
        align-items: center;
        min-height: 80%;

        .continued_left{
            width: 100%;
        }

        .continued_right{
            width: 400px;
            flex-wrap: nowrap;

            .row, .icon{
                height: unset;
                width: unset;
            }

            .icon{
                margin: 0 20px;
            }
        }
    }
}

@media screen and (max-width: 600px){
    .continued{
        flex-direction: column-reverse;

        .continued_left, .continued_right{
            width: 100%;
        }

        .continued_right{
            flex-wrap: nowrap;
            flex-direction: column;

            .row{
                width: unset;
                height: unset;
            }

            .icon{
                height: unset;
                width: 100px;
                margin: 20px;

                i{
                    font-size: 80px;
                }
            }
        }
    }
}