* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif; }

body, html {
  width: 100%;
  height: 100%; }

.nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  box-shadow: 0 1px 3px 0 white; }
  .nav .logo h1 {
    width: 150px;
    text-align: center;
    color: black;
    float: left;
    margin-left: 40px;
    padding: 15px 0; }

#mission {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  background-image: url("pictures/child-page-pictures/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  #mission .left-side {
    width: 50%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0);
    order: 2; }
    #mission .left-side .content {
      width: 600px;
      padding: 20px 20px 40px; }
    #mission .left-side h1 {
      font-weight: bold;
      padding: 0 20px 20px;
      text-transform: uppercase;
      width: 600px;
      margin: 0 auto 0;
      font-size: 30px;
      color: #005070; }
    #mission .left-side p {
      font-size: 16px;
      padding: 5px 20px;
      font-weight: 300;
      margin: auto;
      color: #005070;
      text-align: justify; }
    #mission .left-side .mission_button button {
      display: block;
      margin: 20px 20px 0;
      background: initial;
      color: #005070;
      border: none;
      outline: none;
      cursor: pointer;
      text-transform: uppercase;
      font-weight: bold;
      padding: 10px 15px;
      border: 2px solid #005070; }
  #mission .right-side {
    width: 50%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0); }
    #mission .right-side .icon {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      #mission .right-side .icon img {
        width: 500px;
        display: block; }

.programs {
  min-height: 100vh;
  background: url("pictures/child-page-pictures/programs-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  .programs .programs_box {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .programs h1 {
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0 40px;
    color: #a84c00; }
  .programs .programs_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .programs .programs_container .programs_position {
    width: 300px;
    height: 500px;
    box-shadow: 2px 2px 10px 1px #a84c00;
    position: relative;
    margin: 0 30px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #a84c00; }
    .programs .programs_container .programs_position h1 {
      color: #a84c00; }
    .programs .programs_container .programs_position p {
      padding: 0 20px;
      text-align: center;
      font-size: 16px; }
    .programs .programs_container .programs_position button {
      font-size: 20px;
      text-transform: uppercase;
      color: #a84c00;
      border: none;
      outline: none;
      position: absolute;
      bottom: 20px;
      left: 0;
      right: 0;
      margin: auto;
      display: block;
      width: 250px;
      height: 50px;
      font-weight: bold;
      background-color: rgba(0, 0, 0, 0);
      cursor: pointer; }
  .programs .programs_more {
    font-size: 20px;
    text-transform: uppercase;
    color: #a84c00;
    border: none;
    outline: none;
    margin: 30px auto 0;
    display: block;
    width: 200px;
    padding: 10px 0;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer; }
    .programs .programs_more::after {
      display: block;
      margin: auto;
      content: '';
      width: 0;
      border-bottom: 2px solid #a84c00;
      margin-top: 10px;
      transition: .2s linear width; }
    .programs .programs_more:hover::after {
      width: 150px; }

.continued {
  min-height: 100%;
  display: flex;
  background-image: url("pictures/child-page-pictures/continued-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .continued .continued_left {
    width: 50%;
    min-height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column; }
    .continued .continued_left .continued_info {
      width: 600px;
      height: 600px;
      background-color: rgba(255, 255, 255, 0.6);
      justify-content: center;
      display: flex;
      align-items: center;
      flex-direction: column;
      box-shadow: 0 0 10px 0 #da6e80; }
    .continued .continued_left p {
      margin: auto;
      width: 80%;
      padding: 10px 0;
      text-align: justify;
      color: #94162b; }
  .continued .continued_right {
    width: 50%;
    min-height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap; }
    .continued .continued_right .row {
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center; }
    .continued .continued_right .icon {
      width: 200px;
      text-align: center; }
    .continued .continued_right .icon i {
      font-size: 60px;
      color: #94162b; }

@media screen and (max-width: 1200px) {
  #mission {
    justify-content: center;
    flex-wrap: wrap-reverse; }
    #mission .left-side {
      order: 2; }
      #mission .left-side h2 {
        padding: 20px 0;
        text-align: center; }
    #mission .right-side {
      order: 1;
      margin-bottom: 20px; }
    #mission .mission-button {
      order: 3; } }
@media screen and (min-width: 801px) and (max-width: 1200px) {
  #mission .left-side, #mission .right-side {
    width: 800px; }
  #mission .left-side p {
    width: 100%; }
  #mission .right-side .icon img {
    width: 800px; } }
@media screen and (min-width: 601px) and (max-width: 800px) {
  #mission .left-side, #mission .right-side {
    width: 600px; }
  #mission .left-side p {
    width: 600px; }
  #mission .right-side .icon img {
    width: 600px; } }
@media screen and (max-width: 600px) {
  #mission .left-side, #mission .right-side {
    width: 100%; }
  #mission .left-side .content {
    width: 100%; }
    #mission .left-side .content p, #mission .left-side .content h2 {
      width: 100%; }
  #mission .right-side .icon img {
    width: 100%; } }
@media screen and (max-width: 1080px) {
  .programs .programs_container .programs_position {
    margin-bottom: 20px; }

  .programs .programs_container .programs_position:last-child {
    margin-bottom: 0; } }
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .continued {
    flex-direction: column-reverse;
    align-items: center;
    min-height: 80%; }
    .continued .continued_left {
      width: 100%; }
    .continued .continued_right {
      width: 400px;
      flex-wrap: nowrap; }
      .continued .continued_right .row, .continued .continued_right .icon {
        height: unset;
        width: unset; }
      .continued .continued_right .icon {
        margin: 0 20px; } }
@media screen and (max-width: 600px) {
  .continued {
    flex-direction: column-reverse; }
    .continued .continued_left, .continued .continued_right {
      width: 100%; }
    .continued .continued_right {
      flex-wrap: nowrap;
      flex-direction: column; }
      .continued .continued_right .row {
        width: unset;
        height: unset; }
      .continued .continued_right .icon {
        height: unset;
        width: 100px;
        margin: 20px; }
        .continued .continued_right .icon i {
          font-size: 80px; } }
