*{
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}

body,html{
    width: 100%;
    height: 100%;
}

.header{
    height: 100%;

    .header_container{
        height: 100%;
    }

    .header_container .nav{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 60px;
        transition: background-color .3s linear;
        z-index: 2;

        &.scrolled{
            background-color: white;

            ul li, .nav_logo{
                color: black;
            }

            ul li::after{
                border-color: black;
            }

            ul li i{
                color: #3B5998;
            }
        }

        .nav_logo{
            float: left;
            height: 50px;
            width: 200px;
            color: white;
            text-align: center;
            line-height: 1.8;

        }

        ul{
            height: 50px;
            float: right;
            margin-right: 30px;
            line-height: 1.5;
        }

        ul li{
            color: white;
            display: inline-block;
            list-style-type: none;
            padding: 10px;
            cursor: pointer;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 18px;

            &::after{
                content: '';
                display: block;
                border-bottom: 2px solid white;
                margin-top: 5px;
                max-width: 0;
                transition: max-width .25s linear;
            }

            &:hover::after{
                max-width: 100%;
            }

            &:last-child::after{
                border: none;
            }

            i{
                color: white;
            }
        }

        .fa-bars{
            float: right;
            position: absolute;
            right: 20px;
            top: 10px;
            display: none;
            color: white;
            cursor: pointer;
            font-size: 24px;
        }
    }

    .header_container .nav_mobile{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .9);
        z-index: 10;
        align-items: center;
        justify-content: center;
        visibility: hidden;
        opacity: 0;
        transition-property: visibility opacity;
        transition-duration: .5s;
        transition-timing-function: linear;
        display: none;

        &.--activated{
            opacity: 1;
            visibility: visible;
        }

        li{
            color: white;
            list-style: none;
            text-align: center;
            padding: 10px;
            cursor: pointer;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 18px;

            &::after{
                content: '';
                display: block;
                border-bottom: 2px solid white;
                margin: 5px auto 0;
                width: 0;
                transition: width .25s linear;
            }

            &:hover::after{
                width: 50px;
            }
        }

        .fa-times-circle{
            position: absolute;
            color: white;
            font-size: 24px;
            top: 10px;
            right: 20px;
            cursor: pointer;
        }
    }

    .header_container .header_content{
        width: 100%;
        height: 100%;
        position: relative;
        
        .slick-list, .slick-track{
            height: 100%;
        }
    }

    .header_container .header_content .header_slide{
        width: 100%;
        height: 100%;
        position: relative;

        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        .header_background{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .5);
        }

        .header_text{
            position: absolute;
            text-align: center;
            left: 0;
            right: 0;
            top: calc(50% - 80px);
            transform: translateY(-50%);
            margin: auto;

            h1{
                color: white;
                padding: 30px 0;
                font-size: 46px;
                text-transform: uppercase;
                width: 420px;
                text-align: center;
                margin: auto;
            }
        }

        .next{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 50%;
            text-align: center;

            button{
                color: white;
                border: 2px solid white;
                text-transform: uppercase;
                outline: none;
                cursor: pointer;
                background: inherit;
                padding: 15px 20px;
                font-weight: bold;
                transition: background .2s linear;

                &.read-more{
                    width: 200px;
                    margin-left: 40px;
                    bottom: 80px;
                    left: 0;
                    position: absolute;
                }

                &:hover{
                    background-color: white;
                    color: black;
                }
            }
        }
    }
}

#mission{
    min-height: 100%;
    display: flex;

    .left-side{
        width: 50%;
        height: 100%;

        .motto{
            width: 600px;
            margin: 70px auto 0;
        }

        .motto p{
            // font-weight: 700;
            font-size: 18px;
            color: rgb(68, 68, 68);
            text-align: center;
        }

        .motto h2{
            text-align: center;
            font-weight: 400;
            font-size: 24px;
            color: rgb(68, 68, 68);
            padding: 20px 0;
            font-style: italic;
            font-family: 'Lato', sans-serif;

            span{
                font-size: 15px;
                // margin-left: 50px;
                font-weight: bold;
            }
        }

        .icon{
            width: 100%;

            img{
                width: 80%;
                margin: 0 auto;
                display: block;
            }
        }
    }

    .right-side{
        width: 50%;
        min-height: 100%;

        h2{
            font-weight: bold;
            padding: 70px 20px 20px;
            text-transform: uppercase;
            width: 600px;
            margin: auto;
        }

        p{
            width: 600px;
            font-size: 20px;
            padding: 5px 20px;
            font-weight: 300;
            margin: auto;
            color: rgb(77, 77, 77);
            text-align: justify;
        }
    }
}

#target{
    min-height: 100vh;
    background-image: url('pictures/targets/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    .container{
        min-height: 100vh;
        background-color: rgba(0, 0, 0, .8);

        h1{
            color: white;
            text-align: center;
            text-transform: uppercase;
            padding: 20px 0;
        }

        .goals{
            width: 1200px;
            height: 80%;
            margin: auto;
            display: flex;
            justify-content: center;
            align-content: center;
            flex-wrap: wrap;
            
            .goal{
                text-align: center;
                width: 350px;
                height: 200px;
                margin: 50px 20px;
            }

            .goal .icon{
                width: 150px;
                margin: auto;

                img{
                    width: 120px;
                }
            }

            .goal p{
                color: white;
                width: 300px;
                margin: auto;
                font-size: 18px;
            }
        }
    }
}

#about{
    min-height: 100%;

    h1{
        text-transform: uppercase;
        text-align: center;
        padding: 20px 0 50px;
    }

    .container{
        width: 1300px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .container .info{
        width: 600px;
        margin: 0 25px;
        
        h1{
            padding: 0 20px;
        }

        .adv{
            margin: 60px 20px 0;
            display: flex;
            align-items: center;
            text-decoration: none;
            color: black;

            img{
                width: 230px;
                display: block;
            }

            .text{
                width: 350px;

                h3{
                    padding: 0 10px 10px;
                }
                
                p{
                    padding: 0 10px;
                }
            }
            

            // p{
            //     float: left;
            // }

            // button{
            //     background-color: inherit;
            //     font-size: 20px;
            //     margin-top: 20px;
            //     color: rgb(209, 47, 47);
            //     border: 2px solid rgb(209, 47, 47);
            //     padding: 10px 20px;
            //     cursor: pointer;
            // }
        }
    }

    // .container .left-side{

    //     .adv button{
    //         border-color: rgb(0, 97, 224);
    //         color: rgb(0, 97, 224);
    //     }
    // }
}

#people{
    min-height: 100vh;
    background-image: url('pictures/people-pictures/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    $textColor: rgb(255, 255, 255);

    .container{
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.8);
    }

    h1{
        color: lighten($color: $textColor, $amount: 25);
        text-align: center;
        font-size: 50px;
        padding-top: 20px;
    }

    h2{
        margin-top: -10px;
        color: lighten($color: $textColor, $amount: 25);
        text-align: center;
        margin-left: 200px;
    }

    .people{
        width: 1200px;
        margin: 50px auto 0;
        display: flex;
        justify-content: center;

        .person{
            width: 400px;
            padding: 20px 0;
            // cursor: pointer;

            // &:hover{
            //     background-color: rgba(199, 199, 199, 0.8);
            // }
        }

        .person img{
            width: 200px;
            height: 200px;
            // box-shadow: 0 0 15px 2px rgb(233, 231, 136);
            border-radius: 50%;
            margin: auto;
            display: block;
            object-fit: cover;
        }
        
        .person h1{
            color: $textColor;
            font-size: 24px;
            font-weight: 400;
            text-align: center;
            padding: 20px 0;
        }

        .person p{
            width: 100%;
            padding: 0 10px;
            font-size: 18px;
            text-align: center;
            color: white;
        }
    }
}

#media{
    min-height: 100%;

    .container{
        width: 1000px;
        min-height: 100%;
        margin: auto;

        h1{
            text-align: center;
            padding: 20px 0;
            text-transform: uppercase;
        }
        
        .media-container{
            margin: 20px 0 70px;
            margin: auto;
            height: 300px;
            position: relative;

            .media-partner{
                cursor: pointer;
                color: black;
                text-decoration: none;
            }

            i{
                position: absolute;
                transform: rotateY(-50%);
                top: 23%;
                cursor: pointer;
                font-size: 32px;
                z-index: 5;
            }

            .fa-arrow-right{
                right: -50px;
            }

            .fa-arrow-left{
                left: -50px;
            }
        }

        .media-container .slick-slide{
            outline: none;
            
            img{
                width: 250px;
                height: 160px;
                margin: auto;
                transition-property: width height;
                transition-duration: .8s;
                display: block;
                object-fit: cover;
            }

            h3{
                text-align: center;
                padding: 20px 0;
                width: 80%;
                margin: auto;
                font-weight: 300;
            }
        }

        .media-container .slick-center{
            img{
                width: 290px;
                height: 180px;
            }
        }

        .co{
            width: 1000px;
            margin: 20px auto 0;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .partner-logo{
                width: 200px;
                height: 150px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                img{
                    width: 180px;
                    transition: width .3s linear;
                }
    
                img:hover{
                    width: 200px;
                }
            }
        }
    }
}

.footer{
    $backgroundColor: rgba(0, 0, 0, .6);

    min-height: 100vh;
    display: flex;
    background-image: url('pictures/footer-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
    .footer_left{
        width: 40%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: $backgroundColor;

        h1{
            text-transform: uppercase;
            text-align: center;
            color: white;
            font-size: 46px;
            padding: 40px 0 20px;
        }

        .footer_company-data{
            overflow: hidden;
            h3{
                color: white;
                width: 300px;
                margin: auto;
                padding: 3px 0 3px 70px;
            }
        }

        .footer_company-contact{
            width: 100%;
            margin: 0 auto;
            padding: 23px 0 0;

            .footer_data{
                padding: 5px 0;
                width: 450px;
                margin: auto;
            }

            i,span{
                color: white;
                vertical-align: top;
            }

            span{
                font-size: 22px;
                width: 100%;
            }

            i{
                font-size: 30px;
                margin: 0 10px;
            }
        }
    }

    .footer_right{
        width: 60%;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $backgroundColor;
        // background-image: url('pictures/footer-background.jpg');
        // background-repeat: no-repeat;
        // background-position: center;
        // background-size: cover;

        $formColor: initial;

        .footer_form{
            width: 500px;

            h1{
                text-align: center;
                padding-bottom: 30px;
                color: white;
            }

            .footer_data{
                label p{
                    font-size: 12px;
                    font-weight: bold;
                    color: white;
                }

                label input, label textarea{
                    width: 100%;
                    padding: 10px;
                    margin: 10px 0;
                    outline: none;
                    border: none;
                    border-bottom: 1px solid white;
                    background-color: $formColor;
                    color: white;

                    &:focus{
                        border-bottom: 2px solid white;
                    }
                }

                label textarea{
                    height: 250px;
                }
            }

            .footer_button{
                text-align: center;

                button{
                    width: 200px;
                    padding: 10px 0;
                    cursor: pointer;
                    font-size: 20px;
                    color: white;
                    background-color: $formColor;
                    text-transform: uppercase;
                    font-weight: bold;
                    border: none;

                    &::after{
                        content: '';
                        width: 0;
                        display: block;
                        margin: 10px auto 0;
                        border-bottom: 2px solid white;
                        transition: width .2s linear;
                    }

                    &:hover::after{
                        width: 150px;
                    }
                }
            }
        }
    }
}

@import 'main-media.scss';