@media screen and (min-width: 769px) and (max-width: 1024px) {
  .header .header_container .nav {
    height: 110px;
    text-align: center; }
    .header .header_container .nav .nav_logo, .header .header_container .nav ul {
      float: unset; }
    .header .header_container .nav .nav_logo {
      margin: auto; } }
@media screen and (max-width: 768px), screen and (max-height: 600px) {
  .header .header_container .nav_mobile {
    display: flex; }

  .header .header_container .nav {
    height: 50px; }
    .header .header_container .nav.scrolled ul li::after, .header .header_container .nav.scrolled ul li i {
      display: none; }
    .header .header_container .nav.scrolled .fa-bars {
      color: black; }
    .header .header_container .nav ul {
      display: none; }
    .header .header_container .nav .fa-bars {
      display: block; }
    .header .header_container .nav .nav_logo {
      float: unset;
      margin: auto; }

  .header .header_container .header_content .header_slide .next button.read-more {
    margin-left: auto;
    margin-right: auto;
    right: 0; } }
@media screen and (max-height: 400px) {
  .header .header_container .header_content .header_slide .header_background .next {
    text-align: center; }
    .header .header_container .header_content .header_slide .header_background .next button {
      display: block;
      margin: 0 auto 20px; }
    .header .header_container .header_content .header_slide .header_background .next .read-more {
      position: unset; } }
@media screen and (max-width: 480px) {
  .header .header_container .header_content .header_slide .header_background .header_text h1 {
    width: 320px;
    font-size: 36px; }

  .header .header_container .header_content .header_slide .next button.read-more {
    margin-left: auto;
    margin-right: auto;
    right: 0; } }
@media screen and (min-width: 1201px) and (max-width: 1300px) {
  #mission .left-side .icon img {
    width: 95%; } }
@media screen and (max-width: 1024px) {
  #mission {
    width: 100%;
    flex-direction: column;
    align-items: center; } }
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  #mission .left-side .icon img {
    width: 95%; }
  #mission .left-side .motto {
    width: 500px; }
  #mission .right-side p {
    width: 500px;
    font-size: 18px; }
  #mission .right-side h2 {
    width: 500px; } }
@media screen and (max-width: 1023px) {
  #mission .right-side {
    width: 100%; }

  #mission .left-side {
    width: 100%; } }
@media screen and (min-width: 801px) and (max-width: 1023px) {
  #mission .right-side h2 {
    padding-top: 40px;
    text-align: center; }
  #mission .right-side p {
    width: 800px; }
  #mission .right-side p:last-child {
    margin-bottom: 30px; }

  #mission .left-side {
    order: 1; }
    #mission .left-side .icon {
      padding: 0 0 30px; }
    #mission .left-side .icon img {
      width: 70%; } }
@media screen and (min-width: 651px) and (max-width: 800px) {
  #mission .right-side h2 {
    padding-top: 40px;
    text-align: center; }
  #mission .right-side p {
    width: 600px; }
  #mission .right-side p:last-child {
    margin-bottom: 30px; }

  #mission .left-side {
    order: 1; }
    #mission .left-side .icon {
      padding: 0 0 30px; }
    #mission .left-side .icon img {
      width: 70%; } }
@media screen and (max-width: 650px) {
  #mission .right-side h2 {
    padding-top: 40px;
    text-align: center;
    width: 100%; }
  #mission .right-side p {
    width: 100%; }
  #mission .right-side p:last-child {
    margin-bottom: 30px; }

  #mission .left-side .motto {
    width: 100%; }
    #mission .left-side .motto p {
      padding: 0 5px; }
  #mission .left-side .icon img {
    width: 100%; } }
@media screen and (min-width: 1051px) and (max-width: 1200px) {
  #target .container .goals {
    width: 1050px; }
    #target .container .goals .goal {
      margin: 50px 0; } }
@media screen and (min-width: 701px) and (max-width: 1050px) {
  #target .container .goals {
    width: 700px; }
    #target .container .goals .goal {
      margin: 50px 0; } }
@media screen and (max-width: 700px) {
  #target .container .goals {
    width: 350px; }
    #target .container .goals .goal {
      margin: 50px 0; } }
@media screen and (min-width: 1001px) and (max-width: 1300px) {
  #about .container {
    width: 1000px; }
    #about .container .info {
      width: 500px;
      margin: 0; } }
@media screen and (max-width: 1000px) {
  #about .container {
    width: 90%;
    margin: auto; }
    #about .container .info .adv {
      margin: 30px auto; }
      #about .container .info .adv.next {
        height: 500px; }

  #about .about_showArrow {
    display: none; } }
@media screen and (max-width: 400px) {
  #about .container .info .adv {
    width: 300px; }
    #about .container .info .adv img {
      width: 250px; }
    #about .container .info .adv p {
      width: 280px; } }
@media screen and (min-width: 1001px) and (max-width: 1200px) {
  #people .container .people {
    width: 1000px; }
    #people .container .people .person {
      width: 300px; } }
@media screen and (min-width: 601px) and (max-width: 1000px) {
  #people .container .people {
    width: 600px;
    flex-wrap: wrap-reverse; }
    #people .container .people .person p {
      width: 400px;
      display: block;
      margin: auto; }
    #people .container .people .person:first-child {
      order: 1; }

  #people .container p {
    display: none; }
  #people .container h2 {
    margin: 0;
    text-align: center; } }
@media screen and (max-width: 600px) {
  #people .container .people {
    width: 300px;
    flex-wrap: wrap; }

  #people .container p {
    display: none; }
  #people .container h2 {
    margin: 0;
    text-align: center; }
  #people .container .people .person p {
    display: block;
    width: 95%;
    margin: auto; } }
@media screen and (min-width: 501px) and (max-width: 1124px) {
  #media .container {
    width: 500px; }
    #media .container .media-container {
      height: 350px;
      margin-bottom: 30px; }
      #media .container .media-container i {
        top: 40%; }
    #media .container .media-container .slick-slide img {
      width: 100%;
      height: 300px; }

  #media .container .co {
    width: 500px;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    margin: 0 auto; }
    #media .container .co img {
      margin: 10px 0; } }
@media screen and (max-width: 500px) {
  #media .container {
    width: 100%; }
    #media .container .media-container {
      margin-bottom: 30px; }
      #media .container .media-container i {
        color: white;
        top: 38%; }
      #media .container .media-container .fa-angle-double-right {
        right: 10px; }
      #media .container .media-container .fa-angle-double-left {
        left: 10px; }
    #media .container .media-container .slick-slide img {
      width: 100%;
      height: 250px;
      transition: unset; }

  #media .container .co {
    width: 300px;
    flex-wrap: wrap;
    justify-content: center; }
    #media .container .co img {
      margin: 10px 0; } }
@media screen and (max-width: 1024px) {
  .footer {
    flex-direction: column; }
    .footer .footer_left, .footer .footer_right {
      width: 100%;
      min-height: 1px; }
    .footer .footer_left {
      padding: 20px 0; }
      .footer .footer_left h1 {
        padding: 0 10px 10px; } }
@media screen and (max-width: 500px) {
  .footer .footer_left .footer_company-contact .footer_data {
    width: 95%;
    text-align: center; }

  .footer .footer_right .footer_form {
    width: 100%; }
    .footer .footer_right .footer_form .footer_data {
      padding: 0 10px; } }
