//Główny slider

@media screen and (min-width: 769px) and (max-width: 1024px){
    header .container nav{
        height: 110px;
        text-align: center;

        .logo, ul{
            float: unset;
        }

        .logo{
            margin: auto;
        }
    }
}

@media screen and (max-width: 768px){
    header .container nav{
        height: 50px;

        &.scrolled{
            ul li::after, ul li i{
                display: none;
            }
        }

        ul{
            display: none;
        }

        .logo{
            float: unset;
            margin: auto;
        }
    }

    header .container .content-container .content .content-background{
        .next{
            text-align: center;

            button{
                display: block;
                margin: 0 auto 20px;
            }
            
            .read-more{
                position: unset;
            }
        }
    }
}

@media screen and (max-width: 480px){
    header .container .content-container .content .content-background .text-content h1{
        width: 320px;
        font-size: 36px;
    }
}

//Misja

@media screen and (min-width: 651px) and (max-width: 1300px){
    #mission{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    #mission .right-side{
        width: 100%;

        h2{
            padding-top: 40px;
            text-align: center;
        }

        p:last-child{
            margin-bottom: 30px;
        }
    }

    #mission .left-side{
        width: 100%;
    }
}

@media screen and (max-width: 650px){
    #mission{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    #mission .right-side{
        width: 100%;

        h2{
            padding-top: 40px;
            text-align: center;
        }

        p{
            width: 100%;
        }

        p:last-child{
            margin-bottom: 30px;
        }
    }

    #mission .left-side{
        width: 100%;

        .motto{
            width: 100%;
        }

        .icon img{
            width: 100%;
        }
    }
}

@media screen and (min-width: 376px) and (max-width: 650px){
    #mission .left-side .motto h1{
        font-size: 34px;
    }
}

@media screen and (max-width: 375px){
    #mission .left-side .motto h1{
        font-size: 28px;
    }
}

//Cele

@media screen and (min-width: 1051px) and (max-width: 1200px){
    #target .container .goals{
        width: 1050px;
        .goal{
            margin: 50px 0;
        }
    }
}

@media screen and (min-width: 701px) and (max-width: 1050px){
    #target .container .goals{
        width: 700px;
        .goal{
            margin: 50px 0;
        }
    }
}

@media screen and (max-width: 700px){
    #target .container .goals{
        width: 350px;
        .goal{
            margin: 50px 0;
        }
    }
}

//About

@media screen and (min-width: 651px) and (max-width: 1300px){
    #about .container{
        width: 650px;

        .info{
            float: unset;
            margin: 0 auto 50px;
        }
    }
}

@media screen and (max-width: 650px){
    #about .container{
        width: 300px;

        .info{
            width: 100%;
            float: unset;
            margin: 0 auto 50px;
        }

        .info .adv{
            display: block;
            margin: 60px auto 0;
        }
    }
}

//People

@media screen and (min-width: 1001px) and (max-width: 1200px){
    #people .container .people{
        width: 1000px;

        .person{
            width: 300px;
        }
    }
}

@media screen and (min-width: 601px) and (max-width: 1000px){
    #people .container .people{
        width: 600px;
        flex-wrap: wrap-reverse;

        .person:first-child{
            order: 1;
        }
    }

    #people .container{
        p{
            width: 550px;   
        }

        h2{
            margin: 0;
            text-align: center;
        }
    }
}

@media screen and (max-width: 600px){
    #people .container .people{
        width: 300px;
        flex-wrap: wrap;
    }

    #people .container{
        p{
            width: 95%;
        }

        h2{
            margin: 0;
            text-align: center;
        }
    }
}

//Media

@media screen and (min-width: 501px) and (max-width: 1024px){
    #media .container{
        width: 500px;

        .media-container .slick-slide img{
            width: 100%;
            height: 300px;
        }
    }
}

@media screen and (max-width: 500px){
    #media .container{
        width: 100%;

        .media-container .slick-slide img{
            width: 100%;
            height: 250px;
            transition: unset;
        }
    }
}